@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

html {
    box-sizing: border-box;
}

body {
    cursor: pointer;
    margin: 0;
    max-height: 100vh;
    background-image: url("website-background-free-abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 540;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
em{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.7);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
 }

 #calc-btn{
     color: white;
     border: 5px ridge grey;
     outline: none;
     background-color: #2a2391 ;
     margin: 20px;
     border-radius: 25px;
 }

 #reset-btn{
     color: white;
     border:  5px ridge grey;
     outline: none;
     background-color:#2a2391 ;
     margin: 20px;
     border-radius: 25px;
 }

 #in{
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background-position: left top;
    padding: 20px;
    width: 200px;
    height: 25px;

 }

 #out{
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    background-position: left top;
    padding: 20px;
    width: 350px;
    height: 25px;
    text-align: center;
 }

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    .container{
        margin: auto 10px;  
    }
    em {
        font-size: 1rem;
    }
    h4{
        font-size: 1em;
    }
}

/* Portrait and Landscape */
@media screen and
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

    .container{
        margin: auto 10px;
        box-sizing: 100vh;  
    }
    em {
        font-size: 1rem;
    }
}